#portolio {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: all 0.3s ease;
  z-index: 5;
}
#portolio h1 {
  font-size: 3.5rem;
  font-weight: bold;
}
#portolio .projects {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
}
#portolio .projects h2 {
  font-size: 2rem;
  font-weight: bold;
}
#portolio .projects .carousel-container {
  border: 2px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 390px;
  width: 100%;
}
#portolio .projects .carousel-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
#portolio .projects .carousel-container .btn {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
#portolio .projects .carousel-container .btn > * {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
}
#portolio .projects .carousel-container .btn a .icons {
  width: 30px;
}
#portolio .projects .carousel-container .btn .left {
  margin-right: auto;
}
#portolio .projects .carousel-container .btn .right {
  margin-left: auto;
}
#portolio .projects .carousel-container .caption {
  display: flex;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  bottom: 0;
}
#portolio .projects .carousel-container .caption p {
  color: #46B3A5;
  padding: 0.5rem;
  font-size: 0.75rem;
}
#portolio .projects .paragraph {
  margin-top: 20px;
}
#portolio .projects .paragraph p {
  margin-top: 20px;
}
#portolio .projects .external-links {
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 1rem;
}
#portolio .projects .external-links .btn-external-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: bold;
  cursor: pointer;
  border: 3px solid black;
  padding: 0.5rem;
  border-radius: 20%/50%;
}
#portolio .projects .external-links .btn-external-links a .icons {
  width: 25px;
}

.btn-external-links a:hover {
  background-color: #46B3A5;
}

@media only screen and (max-width: 830px) {
  .projects {
    width: 100% !important;
  }
  .projects img {
    width: 100%;
    height: 100%;
    object-fit: cover !important;
  }
  .projects .paragraph {
    font-size: 0.5rem !important;
  }
}