#about{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    width: 100%;
    margin: auto;
    h1{
        font-size: 3rem;
    }
    .details{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 0.5rem;
        
        .image-container{
            width: 320px;
            height: 320px;
            border: 6px solid black;
            border-top-left-radius: 1.2rem;
            border-bottom-right-radius: 1.2rem;
            overflow:hidden;
            .profile-photo{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .paragraph{
            max-width: 600px;
            padding: 1rem;
            text-align: justify;

            span{
                font-weight: 700;
            }
        }
    }

    .technologies{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        h2{
            font-size: 1.2rem;
        }
        .tech-containers{
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            .row{
                display: flex;
                gap: 1rem;
            }
            .container{
                border: 1px solid black;
                width: 308px;
                height: 110px;
                display: flex;
                flex-direction: column;
                align-items: center;
                .title{
                    width: 100%;
                    text-align: center;
                    text-decoration: none;
                    background-color: rgba(0, 0, 0, 0.903);
                    border-bottom: 1px solid black;
                    
                    h4{
                        letter-spacing: 2px;
                        font-weight: bold;
                        color: #ffffff;
                        font-size: 14px;
                        padding: 5px
                    }
                }
                .tech-icons{
                    display: flex;
                    gap: 0.5rem;
                    padding: 10px;
                    img{
                        width: 64px;
                        height: 64px;
                    }
                    .resize{
                        width: 64px;
                        height: 64px;
                        img{
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1010px) {
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .technologies{
        .tech-containers{
            .row{
                display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .image-container{
        width: 240px !important;
        height: 240px !important;
        border: 6px solid black;
        border-top-left-radius: 1.2rem;
        border-bottom-right-radius: 1.2rem;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .paragraph{
        p{
            font-size: 0.8rem !important;   
        }
    }
}

.profile-photo:hover{
    background-color: #46B3A5;
}