#contact {
  margin-top: 150px;
  margin-bottom: 20px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5rem;
}
#contact .left-side h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
#contact .left-side .rights {
  font-size: 0.7rem;
}
#contact .right-side h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .left-side {
    margin-left: 1rem;
    margin-right: auto;
  }
  .left-side h1 {
    font-size: 1rem !important;
    font-weight: bold;
  }
  .left-side .rights {
    font-size: 0.3rem;
  }
  .right-side {
    margin-right: 1rem;
    margin-left: auto;
  }
  .right-side h1 {
    font-size: 1rem !important;
    font-weight: bold;
  }
  .right-side p {
    font-size: 0.5rem;
  }
}